body {
  background-image: url("/backgrounds/wallpaper.jpg"); /* Replace 'your-image.jpg' with the path to your image file */
  background-size: cover; /* Adjust the size to cover the entire viewport */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  overflow: hidden;
}
.key {
  border: 2px solid palevioletred;
  padding: 25px 35px;
  border-radius: 5px;
  font-size: 25px;
  font-weight: bold;
  width: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 115, 255, 0.925) 0px 20px 50px -25px;
  font-family: "Chakra Petch", sans-serif;
}
.key.active {
  border: 4px solid palevioletred; /* Example expanded border */
  box-shadow: 0 0 10px palevioletred; /* Example box shadow */
  transition: all 0.2s; /* Add a smooth transition effect */
}

button {
  background-color: paleturquoise;
}

#keys {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Adjust to the height of your container */
  gap: 9px;
}
.text-under {
  display: block;
  margin-top: 5px;
  font-size: 16px;
  font-weight: lighter;
  color: lightcoral;
  font-family: "Chakra Petch", sans-serif;
}
